/* govuk_frontend_toolkit includes */
@import "_colours";
@import "_conditionals";
@import "_css3";
@import "_device-pixels";
@import "_typography";
@import "design-patterns/_buttons";

/* local styleguide includes */
@import "styleguide/_conditionals2";
@import "styleguide/_colours";

@import "_buttons";

/* styles */
@import "text";
@import "core";

/* Prevent bullets appearing in lists of radio-buttons */
article ul.options-list {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}


section.done {
  border-top: 1px solid $grey-2;
  margin: 3em 0;

  p {
    padding: 0.5em 0;

    .button {
      font-weight: 700;
      font-size: 24px;
    }
  }
}

html.error {
  header.page-header div {
    margin-top: 54px;
  }
}
