/*
 * Core global styles
 */

#wrapper {
  background-color: $white;//$grey-9;
  border-bottom: 10px solid $light-blue;

  @include ie-lte(7) {
    zoom: 1;
  }
}

.inner {
  margin: 0 auto;
  padding: 1em;
  position: relative;
}

main#content,
section#content {
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  display: block;

  @include ie-lte(7) {
    width: 960px;
  }

  @include media-down(mobile) {
    max-width: auto;
  }
}

p {
  @include core-19;
}

h2, h3, h4 {
  font-weight: 400;
}

h2 {
  @include core-24;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h3 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}


/*
 * Page headers
 */

header.page-header {
  .skip-to-related {
    position:absolute;
    left:-9999em;
  }

  div {
    background-color: #fff;
    display: block;
    margin: 0 24em 0 0;
    padding: 1em 2em 2em 2em;

    @include media-down(tablet) {
      margin: 0;
      padding-bottom: 0;
    }

    h1 {
      @include heading-48;
      background-repeat: no-repeat;
      color: $text-colour;
      font-weight: 600;

      span {
        @include core-27($line-height: 1);
        display: block;
        margin-bottom: 0.25em;
        text-shadow: none;
        color: $secondary-text-colour ;

        @include ie-lte(8) {
          height: 1%;
        }
      }
    }
  }
}

#wrapper.service header.page-header div {
  padding-left: 2em;

  h1 {
    margin-left: 0;

    @include ie(6) {
      position: relative;
      z-index: 1;
      zoom: 1;
    }

  }

  @include media-down(mobile) {
    padding-left: 1em;

    h1 {
      min-height: (61em/25);
    }
  }

  @include media($min-width: 1182px) {
    padding-left: 0;

    h1 {
      margin-left: -96px;
      padding-left: 128px;
    }
  }
}

/* articles */
article {
  margin-right: 22.25em;
  min-height: 30em;
  position: relative;
  width: 100%;
  z-index: 1;

  @include ie-lte(8) {
    float: none;
  }

  @include ie-lte(7) {
  }

  &.group {
    @include ie-lte(7) {
      height: auto;
    }
  }

  .inner {
    padding: 0 0 2em 2em;
    width: auto;
  }

  @include media-down(tablet) {
    min-height: 0;

    .inner {
      padding: 0 2em 1em 2em;
    }
  }

  @include media-down(mobile) {
    .inner {
      padding: 0 1em 1em 1em;
    }
  }
}

.article-container {
  background-color: #fff;
  margin-right: 22.25em;
  min-height: 35em;
  max-width: 38em;

  /* Make webkit browsers contain the margin-bottom of report-a-problem */
  .travel-advice & {
    padding-bottom: 0.01em;
  }

  article {
    margin-right: 0;
  }

  @include media-down(tablet) {
    margin-right: 0;
    min-height: 0;
  }
}

